/* oliviaschafer.com Style Sheet */

/* web */
/* main elements */

h1 {
    float: left;
    margin-left: 75px;
    margin-bottom: -20px;
    text-align: left;
    
    font-family: "Megrim";
    font-size: 200%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #EA312C;
}

h2 {
    display: block;
    margin-left: 19%;
    margin-top: 60px;
    margin-bottom:-30px;
    min-width: 500px;
    
    font-family: "hind";
    font-weight: 800;
    font-size: 420%;
    text-transform: uppercase;
    letter-spacing: 9px;
    color: 01222B;
    
    
}

/* header */

#header {
    position: fixed;
    height: 75px;
    width: 100%;
    top: 0px;
    left: 0px;
    
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);
}


#headernav {
    position: fixed;
    margin-top: 35px;
    margin-left: 330px;
    
    font-family: "hind";
    font-weight: 300;
    font-size: 80%;
    letter-spacing: 3px;
    width: 250px;
}

/* footer */

#footer {
    
    margin-top: 60px;
    margin-right: 30px;
    margin-left: 75px;
    text-align: left;
    
    font-family: "hind";
    font-weight: 300;
    font-size: 9px;
}

footer p {
    float: left;
}

#footer-img {
    height: 10px;
    width: 10px;
    margin-top: 12px;
    margin-left: 5px;
}

/* unvisited link */

a:link {
    color: #01222B;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #01222B;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #A3DBEB;
    text-decoration: none;
}

/* selected link */
a:active {
    color: color: #01222B;
    text-decoration: none;
}

/* home */
/* elephant */

#hero {
    display: block;
    margin-left: 20%;
    margin-right: 40%;
    padding-top: 75px;
    padding-right: 50px;
    min-width: 350px;
    max-width: 800px;
}

/* projects */
/* containers */

#containers {
    display: block;
    margin-left: 19%;
    margin-top: 20px;
    min-width: 500px;
    
    color: #01222B;
    
}

div.container1 {
    height: 105px;
    float: left;
    border: thin solid;
    width: 105px;
}

div.container1 p {
    padding-top: 25px;
    text-align: center;
    font-family: "hind";
    font-weight: 300;
    font-size: 80%;
    letter-spacing: 3px;
}

div.container2 {
    float: left;
    margin-left: 20px;
    margin-bottom: 5px;
    border: thin solid;
    width: 105px;
    height: 105px;
    
}

div.container2 p {
    padding-top: 25px;
    text-align: center;
    font-family: "hind";
    font-weight: 300;
    font-size: 80%;
    letter-spacing: 2px;
}

div.container3 {
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    border: thin solid;
    width: 105px;
    height: 105px;
    
}

div.container3 p {
    padding-top: 25px;
    text-align: center;
    font-family: "hind";
    font-weight: 300;
    font-size: 80%;
    letter-spacing: 3px;
}

/* gallery photos */

img.photos {
    width: 110%;
    min-width: 360px;
    max-width: 900px;
    margin-bottom: 40px;
    
}

.gallery {
    margin-left: 19%;
    margin-right: 19%;
    display: block;
}

/* gallery details */

.details-heading {
    font-family: "hind";
    width: 80%;
    margin-left: 19%;
    line-height: 20px;
    max-width: 800px;
    margin-top: 110px;
    
    font-family: "hind";
    font-weight: 300;
    font-size: 80%;
    letter-spacing: 1px;
    
}


.details-gallery {
    margin-left: 19%;
    margin-right: 19%;
    display: block;
    margin-top: 30px;
    
}


/* about and contact*/

.paragraph-text {
    
    font-family: "hind";
    width: 80%;
    margin-left: 19%;
    line-height: 20px;
    max-width: 800px;
    
    font-family: "hind";
    font-weight: 300;
    font-size: 80%;
    letter-spacing: 1px;
}

.about-photo {
    margin-left: 19%;
    margin-top: 20px;
    height: 10%;
    width: 70%;
    max-width: 500px;
}

/* made with */

#madewith {
    font-family: "hind";
    width: 80%;
    margin-left: 19%;
    line-height: 20px;
    max-width: 800px;
    margin-top: 110px;
    
    font-family: "hind";
    font-weight: 300;
    font-size: 80%;
    letter-spacing: 1px;
    
}

/* icons */

.icon {
    margin-left: 50%;
}

.back-arrow {
    margin-left: 5%;
    margin-top: -60px;
    float: left;    
    
}



/* mobile */

@media only screen and (max-width: 500px) {
   
    /* main elements */
    
    #header h1 {
        margin: 0px;
        margin-left: 50px;
        margin-top: 9px;
    }
    
    h2 {
        margin-left: 45px;
        margin-top: 75px;
        font-size: 200%;
        letter-spacing: 0px;
    }
    
    #headernav {
        margin: 45px 0px 0px 52px;
    }
    
    #footer {
        margin-left: 50px;
    }
    
    /* home */
    #hero {
        margin-left: 20px;
    }
    
    /* about */
    
    .paragraph-text {
        margin-left: 45px;
        margin-top: 30px;
    }
    
    .about-photo {
        
        margin-left: 45px;
    }
    
    /* projects */
    
    #containers {
        margin-left: 45px;
        margin-top: 30px;
        
    }
    
    .gallery {
        margin-left: 45px;
    }
    
    /* details */
    
    .details-gallery {
        margin-left: 45px;
    }
    
    .details-heading {
        margin-left: 100px;
        margin-top: 90px;

        
    }
    
    .back-arrow {
        margin-left: 40px;

    }
    
    /* made with */
    
    #madewith {
        margin-left: 45px;
        margin-top: 100px;
    }
    
}
